/* type (element) selectors - group selectors*/
/* Zorg ervoor dat de achtergrond van de pagina volgende kleur krijgt: lightgray 
en het volgende lettertype Monospace met fallback Calibri en sans-serif*/
body{
    background-color: lightgray;
    font-family: monospace, Calibri, sans-serif;
}
/* Alle h3 krijgen volgende kleur #5614af;*/
h3{
    color: #5614af;
}
/* Alle articles en aside achtergrond kleur zwart en tekstkleur wit*/
article, aside{
    background-color: black;
    color: white;
} 

/* Alle hyperlinks in het deze kleur #43af11 weergeven en niet onderlijnen*/
a{
    color: #43af11;
    text-decoration: none;
}
/*De footer heeft een lettergrootte van 0.8em en achtergrondkleur darkgray*/
footer{
    font-size: .8em;
    background-color: darkgray;
}
