*{
  box-sizing: border-box;
}

html{
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  background-color: #f0f0f0;
  font-family: helvetica, verdana, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
}

a {
  color: red;
  text-decoration: none;
}

.menu {
  background-color: #33CC66;
}

.menu__item {
  font-size: 1.6rem;
  color: darkred;
}

.menu__item--active{
  color: white;
}

h1{
  font-size: 4rem;
}

h2 {
  background-color: #3C6;
  color: #fff;
  font-size: 2rem;
}

ol {
  background-color: #fff;
}

.before40{
  background: yellow;
}


