body{
    background-color: lightgray;
    font-family: monospace, Calibri, sans-serif;
}
/* Class - combined selectors */
/* Voeg een gepaste class attribuut toe aan de juiste elementen, indien nodig*/

/* de content van de eerste h3 en de tweede li worden in het rood weergegeven*/
.rood{
    color: red;
}

/* Alle tweede li's mogen geen lijst markering tonen (bolletje)*/
.geenMark{
    list-style: none;
}

/* alle paragrafen het lettertype Courier */
p{
    font-family: Courier;
}

/* De laatste paragraaf van de aside in het #128956 en bold*/
p.groen{
    color: #128956;
    font-weight: bold;
}

