/* descendant - child selectors*/

body{
    background-color: lightgray;
    font-family: monospace, Calibri, sans-serif;
}

/* alle paragrafen van de main doorstrepen*/
main p{
    text-decoration: line-through;
}

/* alle links van de aside niet onderlijnt en in het wit */
aside a{
    text-decoration: none;
    color: white;
}

/* alle links die rechtstreeks afstammen van een article italic en rood weergeven */
article>a{
    font-style: italic;
    color: red;
}

/* Alle li die behoren tot een geneste lijst in het geel weergeven - geef twee oplossingen*/
/*ul ul{
    color: yellow;
}*/
li > ul {
        color: yellow;
}

/* Alle links die rechtstreeks afstammen van een li achtergrond in het blauw*/
li > a {
    background-color: blue;
}
